
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""

NODE_ENV=
PORT=
USERNAME=
PASSWORK=
DATABASE=
DATABASE_PASSWORD=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_COOKIE_EXPIRES_IN=


Email_host=
Email_port=
Email_user=
Email_pass=


EMAIL_GMAIL_USERNAME=
EMAIL_GMAIL_PASS=


SENDGRID_USERNAME=
SENDGRID_PASSWORD=

STRIPE_SECRET_KEY=